
#Sample slider css not related to final project
body{
    margin:0;
    padding: 0;
    background-color: #6bdec6;
  }
  #main{
    position: absolute;
    top:35%;
    left: 45%;
  }
  #c1{
    height: 250px;
    width: 150px;
    position: absolute;
    transform:translateX(0px) scale(1.5);
    z-index: 99;
    border: 2px solid gray;
    transition:all .5s;
  }
  #c2{
    height: 250px;
    width: 150px;
    position:absolute;
    transform: translateX(-100px);
    z-index: 9;
    border: 2px solid gray;
    transition: all .5s;
  }
  #c3{
    height: 250px;
    width: 150px;
    position:absolute;
    transform: translateX(100px);
    z-index: 9;
    border: 2px solid gray;
    transition: all .5s;
  }
  #PREV{
    height:30px;
    width: 100px;
    border: 2px solid gray;
    font-family:arial;
    font-size: 15px;
    color: gray;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 50%;
    left:20%;
  }
  #PREV:hover{
    cursor: pointer;
  }
  #NEXT{
    height:30px;
    width: 100px;
    border: 2px solid gray;
    font-family:arial;
    font-size: 15px;
    color: gray;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 50%;
    right:20%;
  }
  #NEXT:hover{
    cursor: pointer;
  }
